.mantine-Card-root {
  height: 100%;
}
/* TODO screen size */
@media (min-width: 768px) {
  /* .mantine-Button-root {
    visibility: hidden;
  }

  .mantine-Card-root:hover .mantine-Button-root {
    visibility: visible;
  } */
}
