.mantine-Card-root {
  height: 100%;
}
@media (min-width: --mantine-breakpoint-md) {
  .btn-add-chart {
    visibility: hidden;
  }

  .book-card-container:hover .btn-add-chart {
    visibility: visible;
  }
}
